/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generali */
.container {
  width: 1000px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* SEARCH BAR */

header {
  background-color: black;
}

.search-bar {
  align-items: center;
  gap: 10px;
}

.search-bar>* {
  height: 30px;
}


/* MOVIES PAGE */

.movies-page h2 {
  margin: 30px 0;
  text-align: center;
}

.movies-list p {
  text-align: center;
}