/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generali */
.container {
  width: 1000px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* SEARCH BAR */

header {
  background-color: black;
}

.search-bar {
  align-items: center;
  gap: 10px;
}

.search-bar>* {
  height: 30px;
}


/* MOVIES PAGE */

.movies-page h2 {
  margin: 30px 0;
  text-align: center;
}

.movies-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.movies-list p {
  justify-content: flex-start;
}


/* MOVIE CARD */

.movie-card {
  position: relative;
  width: calc(100% / 4) - 20px;
  max-width: 200px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.movie-card:hover .overlay-info {
  display: block;
}

.movie-img {
  width: 100%;
}

.overlay-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  padding: 20px;
  display: none;
  overflow-y: auto;
}